*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav{
    margin-left: 50px;
}
.navbar-brand{
    margin-left: 370px;
}
.nav-item{
    margin-right: 30px;
}
.navbar{
    height: 35px;
}
.headline{
    margin: 150px;
    text-align: center;
    
}
.row{

    text-align: center;
    height: 65vh;
    margin-bottom: 50px;
}

.left-col{
    background-color: #343A40;
}

.right-col{
    background-color: #F8F9FA;
}
.internal-box{
    background-color: white;
    margin-top: 50px;
    width: 480px;
    height: 44vh;
    margin-left: 140px;
    margin-top: 63px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.internal-box-right{
    background-color: #343A40;
    margin-top: 50px;
    width: 480px;
    height: 44vh;
    margin-left: 140px;
    margin-top: 63px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.internal-box-2{
    background-color: #343A40;
    margin-top: 50px;
    width: 480px;
    height: 44vh;
    margin-left: 140px;
    margin-top: 63px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.internal-box-right-2{
    background-color: white;
    margin-top: 50px;
    width: 480px;
    height: 44vh;
    margin-left: 140px;
    margin-top: 63px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.left-col-2{
    background-color: white;
}

.right-col-2{
    background-color: #007BFF;
}


.internal-box-3{
    background-color: white;
    margin-top: 50px;
    width: 480px;
    height: 44vh;
    margin-left: 140px;
    margin-top: 63px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.19);
}

.internal-box-right-3{
    background-color: white;
    margin-top: 50px;
    width: 480px;
    height: 44vh;
    margin-left: 140px;
    margin-top: 63px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.19);
}
.left-col-3{
    background-color: #F8F9FA;
}

.right-col-3{
    background-color: #F8F9FA;
}

.internal-box-4{
    background-color: white;
    margin-top: 50px;
    width: 480px;
    height: 44vh;
    margin-left: 140px;
    margin-top: 63px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.19);
}

.internal-box-right-4{
    background-color: white;
    margin-top: 50px;
    width: 480px;
    height: 44vh;
    margin-left: 140px;
    margin-top: 63px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.19);
}
.left-col-4{
    background-color: #F8F9FA;
}

.right-col-4{
    background-color: #F8F9FA;
}

.leftside{
    margin-right: 15px;
}

.footer{
    display: flex;
    margin-left: 200px;
    gap: 100px;
    padding-bottom: 80px;

}
footer{
    height: 30vh;
    margin-top: 170px;
}
li{
    list-style: none;
}

.links{
    text-decoration: none;
    color: #9EA4A9;
    font-size: 17px;
    margin-left: -30px;
    list-style: none;
}
.links-head{
    color: #212529;
    text-decoration: none;
    font-size: 22px;
}

@media screen and (max-width:376px) {
    .navbar{
        width: 105% !important;
        height: 10vh;
    }
    .navbar-brand{
        margin-left: 50px;
    }
    .headline{
        height: 20vh;
        width: 60%;
        margin-left: 90px;
    }

    .row{
        display: grid !important;
        margin-top: 590px !important;
    }
    .internal-box{
        width: 30%;
    }
    .internal-box-right{
        width: 30%;
    }
    .internal-box-2{
        width: 30%;
    }
    .internal-box-right-2{
        width: 30%;
    }
    .internal-box-3{
        width: 30%;
    }
    .internal-box-right-3{
        width: 30%;
    }
    .internal-box-4{
        width: 30%;
    }
    .internal-box-right-4{
        width: 30%;
    }
    .another-headline{
        margin-top: -260px;
    }

    .footer{
        display: grid;
        margin-top: 900px;
        margin-left: 40px;
    }
}
@media screen and (max-width:414px) {
    .navbar{
        height: 8vh;
        width: 105% !important;
    }
    .navbar-brand{
        margin-left: 50px;
    }
    .headline{
        height: 15vh !important;
    }
    .footer{
        display: grid;
        margin-left: 70px;
    
    }
    .headline{
        height: 20vh;
        width: 60%;
        margin-left: 90px;
    }

    .row{
        display: grid !important;
        margin-top: 590px !important;
    }
    .internal-box{
        width: 55%;
        margin-left: 110px;
    }
    .internal-box-right{
        width: 55%;
        margin-left: 110px;
    }
    .internal-box-2{
        width: 55%;
        margin-left: 110px;
    }
    .internal-box-right-2{
        width: 55%;
        margin-left: 110px;
    }
    .internal-box-3{
        width: 55%;
        margin-left: 110px;
    }
    .internal-box-right-3{
        width: 55%;
        margin-left: 110px;
    }
    .internal-box-4{
        width: 55%;
        margin-left: 110px;
    }
    .internal-box-right-4{
        width: 55%;
        margin-left: 110px;
    }
    .another-headline{
        margin-top: -260px;
        margin-bottom: 900px !important;
    }
    .col{
        font-size: 22px;
    }
}
@media screen and (max-width:820px) {
    .navbar{
        height: 10vh !important;
    }
    .navbar-brand{
        margin-left: 90px;
    }
    .navbar-toggler{
        margin-right: 50px !important;
    }
    .footer{
        display: grid;
        margin-top: 900px;
        margin-left: 90px;
    }
    .row{
        margin-top:730px !important;
    }
    .col{
        font-size: 30px;
    }
    .headline{
        margin-bottom: -390px;
        font-size: 40px !important;
    }
   
}
@media screen and (max-width:280px) {
    .navbar-brand{
        margin-left: 50px;
    }
    .navbar-toggler{
        margin-right: 20px !important;
    }
    .headline{
        width: 70%;
        margin-left: 60px;
    }
    .col{
        font-size: 14px !important;
    }
    .internal-box{
        width: 65% !important;
        margin-left: 55px;
    }
    .internal-box-right{
        width: 65% !important;
        margin-left: 55px;
    }
    .internal-box-2{
        width: 65% !important;
        margin-left: 55px;
    }
    .internal-box-right-2{
        width: 65% !important;
        margin-left: 55px;
    }
    .internal-box-3{
        width: 65% !important;
        margin-left: 55px;
    }
    .internal-box-right-3{
        width: 65% !important;
        margin-left: 55px;
    }
    .internal-box-4{
        width: 65% !important;
        margin-left: 55px;
    }
    .internal-box-right-4{
        width: 65% !important;
        margin-left: 55px;
    }
}